.cards {
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  margin: 0;
  padding: 0;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__title {
  font-size: 24px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-button {
  background: transparent url(../images/like\ button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
}
