.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: none;
  /*align-items: center;
  justify-content: center;*/
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  font-family: "Inter", Arial, sans-serif;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  margin: auto;
  position: relative;
  padding: 36px;
  background-color: #fff;
  border-radius: 10px;
  width: 430px;
  /*height: 330px; */
}
.modal__close-button {
  top: -45px;
  right: -45px;
  height: 40px;
  width: 40px;
  position: absolute;
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 5;
}
.modal__close-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.modal__heading {
  width: 330px;
  height: 23px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 54px;
}
.modal__input {
  display: block;
  width: 100%;
  height: 33px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 5px;
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 43px;
}
.modal__button {
  height: 52px;
  background-color: #000;
  z-index: 99;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  flex-shrink: 0;
}

.modal__preview-close-button {
  top: -5px;
  right: -5px;
  height: 40px;
  width: 40px;
  position: absolute;
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 5;
}
.modal__preview-close-button:hover {
  opacity: 0.5;
}

.modal__button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.modal__preview-image {
  margin: auto;
  position: relative;
  padding: 36px;
  z-index: 5;
}
.modal__full-image {
  max-width: 75vw;
  max-height: 75vh;
  position: inherit;
  z-index: 6;
}

.full-image-title {
  width: 291px;
  height: 12px;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  z-index: 1;
  display: none;
}

.modal_opened .modal__overlay {
  display: block;
  z-index: 1;
}
.modal_opened .modal__container {
  z-index: 4;
}
.modal__input_type_error {
  display: flex;
  color: #f00;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  text-emphasis-color: black;
}

.modal__error_visible {
  display: flex;
  color: black;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.modal__error_disabled {
  display: none;
}
.modal__button_disabled {
  display: disabled;
  color: #fff;
}
@media screen and (max-width: 400px) {
  .modal {
    padding: 0;
  }
  .modal__container {
    width: 260px;
    height: 300px;
    flex-shrink: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 25px;
    padding-left: 22px;
    z-index: 3;
  }
  .modal__form {
    max-width: 75vh;
    max-height: 75vh;
    width: 238px;
    height: 27px;
    flex-shrink: 0;
  }

  .modal__button {
    border-radius: 2px;
    background: #000;
    height: 46px;
    flex-shrink: 0;
    margin: 0;
    border-color: none;
  }
  .modal__input {
    height: 27px;
    flex-shrink: 0;
    padding: 0;
  }
  .modal_close-button {
    top: -68px;
    right: 4px;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    margin-right: 19px;
  }
  .modal__heading {
    margin-bottom: 76px;
  }
}
