.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: center;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px);
  align-items: center;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500px;
  grid-area: "title";
  padding-bottom: 0;
  margin-bottom: 12px;
}

.profile__discription {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400px;
  grid-area: "description";
  margin: 0;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg);
  height: 24px;
  width: 24px;
  grid-area: "button";
  margin-left: 18px;
  margin-top: 18px;
  padding: 0px;
  border-radius: 2px;
  border: 2px solid #fff;
}

.profile__add-button {
  background: transparent url(../images/Add\ Button.svg);
  height: 50px;
  width: 150px;
  margin-left: 165px;
  border-style: none;
}

@media screen and (max-width: 400px) {
  .profile {
    justify-content: center;
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
  }

  .profile__discription {
    width: 282px;
    height: 14px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 36px;
  }
  .profile__add-button {
    margin: 0;
    background-repeat: space;
    background: transparent url(../images/Add\ Button.svg) no-repeat;
    width: 282px;
  }
  .profile__title {
    width: 196px;
    height: 22px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .profile__image {
    flex-shrink: 0;
  }
  .profile__edit-button {
    display: flex;
    justify-items: center;
  }
}
